{
  "extends": "airbnb",

  "rules": {
      "valid-jsdoc": 0,

      // Disable Airbnb-specific rules unless need to support it
      "comma-dangle": 0,
      "id-length": 0,

      // React rules
      "react/display-name": 0,
      "react/forbid-prop-types": 0,
      "react/jsx-boolean-value": 0,
      "react/jsx-closing-bracket-location": 1,
      "react/jsx-curly-spacing": 0,
      "react/jsx-indent-props": [1, 2],
      "react/jsx-max-props-per-line": [1, 3],
      "react/jsx-no-duplicate-props": 1,
      "react/jsx-no-literals": 0,
      "react/jsx-no-undef": 1,
      "react/jsx-quotes": [1, "double"],
      "jsx-sort-prop-types": [ 0, { "callbacksLast": true, "ignoreCase": false}],
      "react/jsx-sort-props": 0,
      "react/jsx-uses-react": 1,
      "react/jsx-uses-vars": 1,
      "react/no-danger": 0,
      "react/no-did-mount-set-state": 1,
      "react/no-did-update-set-state": 1,
      "react/no-direct-mutation-state": 1,
      "react/no-multi-comp": 1,
      "react/no-set-state": 0,
      "react/no-unknown-property": 0,
      "react/prefer-es6-class": 1,
      "react/prop-types": 1,
      "react/react-in-jsx-scope": 1,
      "react/require-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/self-closing-comp": 1,
      "react/sort-comp": 1,
      "react/wrap-multilines": 1
  }
}
